.mern-home-img {
    background-image: url('./mern.png');
    min-height: 300px;
    background-repeat: no-repeat;
}

/* Apply styles when the viewport width is 768px or smaller */
@media screen and (max-width: 768px) {
    .mern-home-img {
      background-size: 80%; /* Adjust as needed */
    }
}
  
  /* Apply styles when the viewport width is 576px or smaller */
@media screen and (max-width: 576px) {
    .mern-home-img {
      background-size: 50%; /* Adjust as needed */
    }
}
  
  
  